@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins";
}

@layer components {
	.icon-container {
		@apply lg:w-full icon-hover lg:px-4 sm:px-3 lg:py-3 sm:py-2 flex justify-center 
    transition-all duration-200 ease-in relative;
	}

	.icon-hover {
		@apply hover:bg-black/10 cursor-pointer;
	}

	.sidebar-tooltip {
		@apply absolute w-auto lg:p-3 sm:p-2 m-3 min-w-max lg:left-20 lg:-top-2 sm:top-10 
		rounded-md shadow-md text-gray-900 bg-gray-300/40
    text-sm font-bold transition-all duration-200 scale-0 lg:origin-left sm:origin-top;
	}

	.input-box {
		@apply rounded-md lg:p-2.5 sm:p-1.5 bg-white/60 shadow-md;
	}

	.input-label {
		@apply font-semibold text-gray-800;
	}

	.grid-box {
		grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	}

	.grid-box-sm {
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}

	.bg-gradient {
		background-color: #4158d0;
		background-image: linear-gradient(
			43deg,
			#4158d0 0%,
			#c850c0 46%,
			#ffcc70 100%
		);
	}

	.bt-gradient {
		background-color: #0093e9;
		background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
	}

	.email-font-limit {
		max-width: 10ch;
	}
}
